body {
 

 overflow: scroll;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 background-color: black;


 


 
  
  font-family: 'Foldit', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

  @import url('https://fonts.googleapis.com/css2?family=Foldit:wght@600&family=Poppins:wght@500;600;700;800;900&family=Titillium+Web&display=swap');



